* {
    margin: 0%;
    padding: 0%;
}

html {
    scroll-behavior: smooth;
}

.logo {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

html .logo img {
    width: 60%;
    height: 20%;
    border: 2px solid black;
    border-radius: 50px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
}

.nav-list {
    width: 70%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.nav-list li {
    list-style: none;
    padding: 23px 33px;
    font-style: oblique;
}

.nav-list a {
    color: white;
}

.nav-list li :hover {
    text-decoration: none;
    color: aqua;
}

.rightNav {
    text-align: right;
    width: 30%;
}

#Search {
    margin: 2px;
    padding: 8px;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 10px;
    left: 2px;
    cursor: pointer;
}

.background {
    background: rgba(0, 0, 0, 0.7) url('Newyork.jpg');
    background-size: cover;
    background-blend-mode: darken;
}

#home {
    color: white;
}

.firstsection {
    height: 100vh;
}

.box-main {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 70%;
    margin: auto;
    height: 100%;
}

.firsthalf {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.secondhalf img {
    width: 50%;
    border: 2px solid black;
    border-radius: 150px;
    display: block;
    margin: center;
}

.big-text {
    font-size: 35px;
    margin: 5px 34px;
}

.small-text {
    font-size: 18px;
    margin: 2px 8px;
}

.btn {
    padding: 8px 30px;
    margin: 4px;
    cursor: pointer;
    color: white;
    border: 2px solid black;
    border-radius: 4px;
    background-color: black;
}

.btn-dark {
    color: white;
    border: black;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 51px;
    max-width: 93%;
}

.thambnail img {
    width: 100%;
    border: 2px solid black;
}

.para {
    margin: 10px 4px;
    padding: 19px 5px;
}

.section-left {
    flex-direction: row-reverse;
}

.contact {
    background-color: rgb(255, 228, 196);
    height: 70vh;
}

.text-centre {
    text-align: center;
    padding: 36px 4px;
    font-size: 50px;
}

.form {
    max-width: 344px;
    margin: auto;
}

.form input {
    margin: 4px 56pX;
    padding: 5px 4px;
    width: 100%;
    font-size: 19px;
    border: 2px solid black;
    border-radius: 6px;
}

.formsubmit {
    font-family: cursive;
    margin: 24px 700px;
    padding: 6px 60px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 2px solid black;
    border-radius: 4px;
}

.burger {
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 15px;
}

.line {
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 3px 3px;
}